/* Global variables, referenced by multiple SCSS files. */
/* National Parks */

/* Regional prefixes */
$region: npsa;  

/* Colours */
$main-brand-color: #08713e;
$pale-brand-color: #cee3d8;
$body-text-color: #333;
$dark-background-color: #666;
$pale-background-color: white;