{% extends 'layouts/master.html' %}





{% block content %}

    <div id="bookeasy__booking-gadget"></div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script>

        $w(function() {
            BE.gadget.book('#bookeasy__booking-gadget', {
                confirmationURL: './checkout.html',
                demoMode: true,
                vcID: 188
            });
        });

    </script>

{% endblock %}
