{% extends 'layouts/master.html' %}





{% block content %}

    <div id="bookeasy__confirmation-gadget"></div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}

    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script>

        $(function() {
            BE.gadget.confirm('#bookeasy__confirmation-gadget', {
                thankYouText: 'Thank you for your booking. You can download your itinerary with the link below.',
                pdfLinkText: 'Download your itinerary PDF now.'
            });
        });

    </script>

{% endblock %}
