{% extends 'layouts/master.html' %}





{% block content %}

    <div id="toolbar-cart"></div>

    <div class="campground id73149"></div>

    <div id="operatorDetails"></div>

    <div id="operatorDirections"></div>
    <div id="operatorConditions"></div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script>
        var operatorIDs = [73149];
        var operatorPageType = 'camping';

        var acceptBookings = true;
    </script>

    <script type="text/javascript">
        var operatorPageType;

        // Set the the bookeasy operator type based on the operator page type
        var bookeasyType;
        switch (operatorPageType) {
            case 'tours': bookeasyType = 'tours'; break;
            default: bookeasyType = 'accom';
        };

        // Get today's date
        bookingDate = new Date();

        // Set the gadget options
        detailsGadgetOptions = {
            vcID:188,
            defaultDate: bookingDate,
            descriptionHover:false,
            period: 1,
            showHoverInline: true,
            showQuantity: false,
            thumbsInGrid:true,
            showHoverInlineToggleButtonContent: "MORE...",
            type: bookeasyType
        };
    </script>

    <script src="js/bookeasy-details.js"></script>

    <script type="text/javascript">
        $w(function() {
            BE.gadget.cart("#toolbar-cart", {
                vcID:188,
                bookingURL:"http://www.environment.sa.gov.au/dev/bookeasy/test/checkout.html",
                autoCollapse:true
            });
        });
    </script>


{% endblock %}
