{% extends 'layouts/master.html' %}





{% block content %}

    <div id="bookeasy__cart-gadget"></div>

    <div id="bookeasy__details-gadget"></div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script>

        var bAllowBookings = true; // #todo seamless variable
        var bookeasyType = 'accom'; // defaults to accomodation
        var bookingDate = new Date(); // Get today's date
        var operatorIDs = productID = [73176]; // set operatorIDs to display
        var operatorPageType = 'camping'; // type of operator

        if (operatorPageType == 'tours') {
            bookeasyType = 'tours';
        }

        $(function() {

            // load details gadget
            BE.gadget.details('#bookeasy__details-gadget', {
                defaultDate: bookingDate,
                descriptionHover: true,
                period: 1,
                productID: productID,
                showHoverInline: true,
                showHoverInlineToggleButtonContent: 'More...',
                showQuantity: false,
                thumbsInGrid: true,
                type: bookeasyType,
                vcID: 188
            });

            // load card gadget
            BE.gadget.cart('#bookeasy__cart-gadget', {
                autoCollapse: true,
                bookingURL: './checkout.html',
                vcID: 188
            });

        });

    </script>

    <!-- <script src="js/bookeasy-details.js"></script> -->


{% endblock %}
