{% extends 'layouts/master.html' %}





{% block content %}

    {% include "shared/location-selector.html" %}

    <div id="bookeasy__region-gadget"></div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script>

        // TODO: parks data will be imported via DLV in json format
        var parksData = {
            "locations" :{
                "0": "All",
                "1": "Beachport Conservation Park",
                "2": "Bool Lagoon Game Reserve",
                "3": "Canunda National Park",
                "4": "Coorong National Park",
                "5": "Deep Creek Conservation Park",
                "6": "Dutchmans Stern Conservation Park",
                "7": "Flinders Chase National Park",
                "8": "Innes National Park",
                "9": "Little Dip Conservation Park",
                "10": "Mount Remarkable National Park",
                "11": "Tallaringa Conservation Park",
                "12": "Vulkathunha-Gammon ranges National Park"
            }
        };

        var productsData = {
            "All" :{
                "index": "1",
                "accom": true,
                "camping": true,
                "vehicle entry fee": true,
                "diving": true,
                "snorkeling": true,
                "tennis courts": true,
                "school bookings": true
            },
            "Beachport Conservation Park" :{
                "index": "2",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Bool Lagoon Game Reserve" :{
                "index": "3",
                "accom": false,
                "camping": true,
                "vehicle entry fee": true,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Canunda National Park" :{
                "index": "4",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Coorong National Park" :{
                "index": "5",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Deep Creek Conservation Park" :{
                "index": "6",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Dutchmans Stern Conservation Park" :{
                "index": "7",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Flinders Chase National Park" :{
                "index": "8",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Innes National Park" :{
                "index": "9",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Little Dip Conservation Park" :{
                "index": "10",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Mount Remarkable National Park" :{
                "index": "11",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Tallaringa Conservation Park" :{
                "index": "12",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            },
            "Vulkathunha-Gammon ranges National Park" :{
                "index": "13",
                "accom": false,
                "camping": true,
                "vehicle entry fee": false,
                "diving": false,
                "snorkeling": false,
                "tennis courts": false,
                "school bookings": false
            }
        };


        var aAllLocations = $.map(parksData.locations, function(val, i) { return val; }); // sets default locations from json data
        var aFilteredLocations = []; // contains an array of locations to show in region gadget
        var urlHash = location.hash.replace(/^#/, '').trim();
        var hideProductTypes = ['tours','carhire','packages'];


        $(function() {

            initRegionGadget(); // initialise region gadget


            // change location to display
            $('.location-selector__select').on('change', function() {
                // set location hash to selected location
                window.location.hash = urlHash = $(this).val();
            });

        });


        $(window).bind('hashchange', function() {

            aFilteredLocations = getFilteredLocations(); // get currently selected location
            bookeasy(); // re-load bookeasy gadget

        });


        function initRegionGadget() {

            aFilteredLocations = getFilteredLocations(); // get currently selected location
            createLocationSelector(); // create location selector

            bookeasy(); // load bookeasy gadget

        }


        function getFilteredLocations() {

            var aReturn = aAllLocations; // defaults to show all locations

            // check if the hash has been set
            if (urlHash && (urlHash !== 'All')) {
                aReturn = [urlHash]; // set aFilteredLocations
            }

            return aReturn;
        }


        function createLocationSelector() {

            $.each( aAllLocations, function(key, val) {
                $('.location-selector__select').append($('<option></option').attr('value', val).attr('selected', urlHash == val ? true : false).text(val));
            });

        }



        function displayProductsData() {

            console.log('ToDo: make productsData accurate based on whats ACTUALLY available on Parks website');

            if (!urlHash) {
                urlHash = 'All';
                console.log(!urlHash);
            }

            $('.button-list').remove();
            $('.location-selector').after($('<div class="button-list"></div>'));

            console.log('' +urlHash);
            //console.log( $.type(urlHash) );


            console.log(' TODO: Fix urls, convert all spaces in key to "-" ');
            //productsData[urlHash] is better than using eval to turn string into object name
            $.each(productsData[urlHash], function(key, val) {
                //console.log(key + " : " + val);

                //we don't need to display camping button if we are already looking at camping
                if ( (key != 'index') && (val) ) {
                    //TODO: Fix urls, convert all spaces in key to '-'

                    //console.log('use true data to create buttons & urls');

                    $('.button-list').append($('<a href="/'+key+'.html"><div>'+key+'</div></a>').addClass('type-button '+key).attr('data', key));
                    $('.'+key).click(  function(){ typeShow('tours'); }  );
                }
            });

        }



        function typeShow(productType) {
            console.log('productType: ' +productType);
            hideProductTypes = ['accom','tours','carhire','packages'];
            //console.log('hideProductTypes: ' +hideProductTypes);
            var posInArray = $.inArray(productType, hideProductTypes);
            console.log('posInArray: ' +posInArray);
            if ( posInArray > -1 ) {
                //console.log('hideProductTypes: ' +hideProductTypes);
                var splice = hideProductTypes.splice( 1, posInArray );  //remove 1 item, from positionInArray
                //console.log('splice: ' +splice);
                console.log('hideProductTypes: ' +hideProductTypes);
            }
            bookeasy();
        }


        function bookeasy() {

            displayProductsData();

            var bookingDate = new Date();

            bookingDate.setDate(bookingDate.getDate() + 1);

            BE.gadget.region('#bookeasy__region-gadget', {
                accomOnlyMode: true,
                adults: 1,
                customMapIcons: {
                    'accom': {
                        icon:'//www.environment.sa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/c16a6c2a-2cdc-4f08-96b9-f1c11eb6f349/npsa-marker-general.png',
                        pinpoint: [13,45],
                        size: [26,45]
                    }
                },
                collapseRefineTools: false,
                collapseRefineTools: true,
                defaultDate: bookingDate,
                defaultRegionState: 'South Australia',
                defaultSort: 'name',
                enableRegionSearch: false,
                forceAccomType: '',
                disabledTypes: hideProductTypes,
                ignoreSearchCookie: true,
                itemDetailPageURL: './detail.html',
                limitLocations: aFilteredLocations,
                period: 1,
                showAllAccom: true,
                showList: false,
                showLocationFilter: false,
                vcID: 188
            });

        }

        function cleanGoogleMaps(callback) {

            $('.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div').remove();
            $('.gm-style-pbc').remove();
            $("LINK[href*='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700']").remove();

            $("script[type*=javascript]").filter(function() {
                if (window.google !== undefined && google.maps !== undefined) {
                    delete google.maps;
                    $('script').each(function () {
                        if (this.src.indexOf('googleapis.com/maps') >= 0
                            || this.src.indexOf('maps.gstatic.com') >= 0
                            || this.src.indexOf('earthbuilder.googleapis.com') >= 0) {

                            $(this).remove();
                        }
                    });
                }
            });

            callback();
        }

    </script>


{% endblock %}
