{% extends 'layouts/master.html' %}





{% block content %}

    <h1>Book now</h1>

    <div id="bookeasy__cart-gadget"></div>

    <div class="location-selector  input-group">
        <select class="location-selector__select  select-custom"></select>
    </div>


    <div id="bookeasy__region-gadget">Loading...</div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}

    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <script src="/js/bookeasy-mods.js"></script>

    <script src="/js/inline/parks-data.js" inline></script>

    <script src="/js/booking-statewide.js"></script>

    <script src="/js/inline/cart-gadget.js" inline></script>

{% endblock %}
