{% extends 'layouts/home.html' %}





{% block content %}

    <h1>Bookeasy</h1>

    <h2>Styled examples</h2>
    <ul>
        <li><a href="/region-gadget.html">Region gadget</a></li>
        <li><a href="/details-gadget.html">Details Gadget</a></li>
        <li><a href="/statewide-map.html">Statewide map</a></li>
    </ul>

    <h2>Demo</h2>
    <ul>
        <li><a href="/demo/region-gadget.html">Region gadget</a></li>
        <li><a href="/demo/details-gadget.html">Details Gadget</a></li>
        <li><a href="/demo/statewide-map.html">Statewide map</a></li>
    </ul>

{% endblock %}
