{% extends 'layouts/master.html' %}





{% block content %}

    <div id="bookeasy__cart-gadget"></div>

    <div id="bookeasy__region-gadget">Loading...</div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <script>
        var campgroundData = {
            "71631": "",
            "71721": "",
            "71646": "",
            "69781": "",
            "67592": "",
            "72920": "",
            "72915": "",
            "69783": "",
            "69839": "",
            "71595": "",
            "71593": "",
            "71594": "",
            "71597": "",
            "71596": "",
            "72885": "",
            "71627": "",
            "71628": "",
            "71629": "",
            "71598": "",
            "71635": "",
            "71650": "",
            "71648": "",
            "71636": "",
            "71638": "",
            "71720": "",
            "71719": "",
            "71649": "",
            "67320": "",
            "69837": "",
            "67985": "",
            "69784": "",
            "73176": "",
            "63689": "",
            "73149": "",
            "71531": "",
            "71531": "",
            "71531": "",
            "73176": "/files/sharedassets/parks/parks/fleurieu-peninsula/deep-creek-conservation-park/deep-creek-cobbler-hill-campground-map.pdf",
            "73177": "/files/sharedassets/parks/parks/fleurieu-peninsula/deep-creek-conservation-park/deep-creek-eagle-waterhole-campground-map.pdf",
            "65694": "/files/sharedassets/parks/parks/fleurieu-peninsula/deep-creek-conservation-park/deep-creek-conservation-park-stringybark-campground-map.pdf",
            "73174": "/files/sharedassets/parks/parks/fleurieu-peninsula/deep-creek-conservation-park/deep-creek-tapanappa-campground-map.pdf",
            "73170": "/files/sharedassets/parks/parks/fleurieu-peninsula/deep-creek-conservation-park/deep-creek-trig-campground-map.pdf"
        };
    </script>

    <script src="js/bookeasy-mods.js"></script>

    <script src="js/bookeasy-region.js" inline></script>

    <script src="js/bookeasy-cart.js" inline></script>
{% endblock %}
