{% extends 'layouts/master.html' %}





{% block content %}

    {% include "shared/location-selector.html" %}

    <div id="bookeasy__region-gadget"></div>

{% endblock %}





{% block global_javascript %}
    {{ super() }}
{% endblock %}


{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    {# <script src="js/bookeasy-url-overrides.js"></script> #}

    <script src="js/parks-data.js" inline></script>

    <script src="js/booking-statewide.js"></script>


{% endblock %}
