.quickselect {
    min-height: 90px;
}

.park-choice,
.location-choice {
    display: inline-block;
    float: left;
    width: 50%;
}

#main.content a {
    text-decoration: none;
}

.quickselect__item a {
    color: #fff;
}
.quickselect__item a:active {
    color: #333;
}

.park-selector {
    width: 78%;
    background-color: #fff;
    position: relative;
    display: inline-block;
}

/* .location-choice select,
.park-choice select, */
.quickselect select {
    width: 100%;
    -webkit-appearance: none;
    padding: 8px;
    font-size: 14px;
    height: 40px;
    border: 1px solid #ddd; /* 0 force webkit to respect font size. See if it makes an improvement */
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    outline: none;
}
.quickselect select:focus {
    border: 1px solid rgba(8, 113, 62, 1);
    box-shadow: 0 0 0 2px rgba(8, 113, 62, 1);
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #000;
    float: right;
    margin: 14px 14px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.park-choice__item,
.location-choice__item {
    display: inline;
}

.button {
    padding: 12px 9px;
    background-color: #08713e;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
.button:hover {
    background-color: #01522b;
}
.button:active {
    background-color: #ffd600;
}
.message {
    clear: both;
}

#content {
    margin-right: 12px;
    width: 1162px;
}
