{% raw %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>debug operators within bookeasy</title>

        <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

        <style>
            body {
                 padding: 40px;
            }
            tbody tr:hover,
            tbody tr:hover td {
                background: #ffcc78!important;
            }
            tr.selected {
                background: #ffcc38!important;
            }
        </style>
    </head>
    <body>
        <div class="container" ng-app="sortApp" ng-controller="mainController">

          <div class="alert alert-info">
            <p>Sort Type: {{ sortType }}</p>
            <p>Sort Reverse: {{ sortReverse }}</p>
            <p>Search Query: {{ searchOperators }}</p>
          </div>

          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Filter operators" ng-model="searchOperators">
              </div>
            </div>
          </form>

          <table class="table table-bordered table-striped">

            <thead>
              <tr>
                <td>
                  <a href="#" ng-click="sortType = 'operatorID'; sortReverse = !sortReverse">
                    Operator ID
                    <span ng-show="sortType == 'operatorID' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'operatorID' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'tradingName'; sortReverse = !sortReverse">
                  Trading Name
                    <span ng-show="sortType == 'tradingName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'tradingName' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'vcLocations'; sortReverse = !sortReverse">
                  VCLocations
                    <span ng-show="sortType == 'vcLocations' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'vcLocations' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                  Location
                    <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  Type1
                </td>
                <td>
                  Facilities
                </td>
                <td>
                  details
                </td>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="operator in operators | orderBy:sortType:sortReverse | filter:searchOperators">
                <td>{{ operator.operatorID }}</td>
                <td>{{ operator.tradingName }}</td>
                <td>{{ operator.vcLocations }}</td>
                <td>{{ operator.location }}</td>
                <td>{{ operator.beType }}</td>
                <td>{{ operator.facilities }}</td>
                <td><a href="details.html#{{ operator.beType | limitTo: 5 | lowercase }}&{{ operator.operatorID }}" target="_blank">visit</a></td>
              </tr>
            </tbody>

          </table>

        </div>



        <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>



        <script>


            var module = angular.module('sortApp', []);

            module.controller('mainController', function($scope, $http) {
                $scope.sortType     = 'operatorID';   // set the default sort type
                $scope.sortReverse  = false;          // set the default sort order
                $scope.searchOperators   = '';        // set the default search/filter term
                $scope.operators = [];

                //// $http.jsonp('http://sjp.impartmedia.com/be/getOperatorsInformation?callback=JSON_CALLBACK&q=188')
                // $http.get('//sjp.impartmedia.com/be/getOperatorsInformation?q=188')
                // '//www.parks.sa.gov.au/dev/bookeasy/data/operatorData.json'
                // Use above line when on FTP
                var dataURL = '/data/operatorData.json';
                var live = false;

                if ( window.location.href.match(/(\.sa\.gov\.au)/g) ) {
                  console.log('(live) getting data from sjp.impartmedia.com');
                  dataURL = '//sjp.impartmedia.com/be/getOperatorsInformation?q=188';
                  live = true;
                } else {
                  console.log('using local data /data/operatorData.json');
                }

                $http.get(dataURL)
                    .then(function(response) {

                      var operators = response.data;
                      console.log('operators: ', operators);

                        if (live) { //if live map data to be consistent with operatorData gulp task.
                          operators = operators.Operators.map(function (operators) {
                            return {
                              OperatorID: operators.OperatorID,
                              type: operators.Type1,
                              TradingName: operators.TradingName,
                              ResidentialAddress: operators.ResidentialAddress,
                              Facilities: operators.Facilities,
                              Locations: operators.Locations,
                              Location: operators.Location,
                              Description: operators.Description,
                              Cancellation: operators.Cancellation
                            };
                          });
                          console.log('operators: ', operators);
                        }

                        var cleanedOperators = [];

                        // some data checks
                        for (var key in operators) {
                            var sLocations = '';
                            var operator = operators[key];

                            // console.log(operator);

                            if (typeof operator['Locations'] !== 'undefined') {  // if location is set
                                if (Object.keys(operator['Locations']).length) { // if location has length
                                    sLocations = operator['Locations'][0]['Description'];
                                }

                            }

                            var facilities = '';
                            if (typeof operator['Facilities'] !== 'undefined') { // if facilities key exists
                              if (operator['Facilities'].length > 0) {    // if facilities has a value
                                facilities = operator['Facilities'].join(' | ');
                                // console.log('facilities: ', facilities);
                              }
                            }

                            var beType = 'typeUnknown';
                            if (typeof operator['Type1']) {
                              beType = operator['Type1'];
                            }
                            if (typeof operator['type']) {
                              beType = operator['type'];
                            }

                            cleanedOperators.push({
                                operatorID: operator['OperatorID'],
                                tradingName: operator['TradingName'],
                                vcLocations: sLocations,
                                location: operator['Location'],
                                beType: beType,
                                facilities: facilities
                            });

                        }

                        $scope.operators = cleanedOperators;

                    })
                    .catch(function(error) {
                        console.log('Ooops: ', error);
                    });
            });
        </script>
    </body>
</html>
{% endraw %}
