/*------------------------------------*\
    #BOOKEASY LOCATION SELECTOR
\*------------------------------------*/

.location-selector {
    background-color: #fff;
    display: inline-block;
    position: relative;
    min-width: 35%;
    margin-bottom: 20px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjEiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMSAzMiI+PHBhdGggZmlsbD0iI2RkZCIgZD0iTTE5LjE5NiAxMy4xNDNxMCAwLjIzMi0wLjE3OSAwLjQxMWwtOC4zMjEgOC4zMjFxLTAuMTc5IDAuMTc5LTAuNDExIDAuMTc5dC0wLjQxMS0wLjE3OWwtOC4zMjEtOC4zMjFxLTAuMTc5LTAuMTc5LTAuMTc5LTAuNDExdDAuMTc5LTAuNDExbDAuODkzLTAuODkzcTAuMTc5LTAuMTc5IDAuNDExLTAuMTc5dDAuNDExIDAuMTc5bDcuMDE4IDcuMDE4IDcuMDE4LTcuMDE4cTAuMTc5LTAuMTc5IDAuNDExLTAuMTc5dDAuNDExIDAuMTc5bDAuODkzIDAuODkzcTAuMTc5IDAuMTc5IDAuMTc5IDAuNDExeiI+PC9wYXRoPjwvc3ZnPg==) 98% 3px no-repeat;
}

.location-selector__select {
    padding: 8px;
    font-size: 14px;
    height: 40px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    appearance: none;
    background: none;
}

.location-selector__button {
    padding: 12px 9px;
    background-color: $sagovau-color-brand;
    border: 0;
    border-radius: 5px;
    font-weight: bold;

    &:focus,
    &:hover {
        background-color: darken($sagovau-color-brand, 5%);
    }

    &:active {
        background-color: darken($sagovau-color-brand, 10%);
    }
}
