/*------------------------------------*\
    #BOOKEASY REGION GADGET
\*------------------------------------*/

// scss-lint:disable all


.region-gadget {
    color: $sagovau-color-text-base;
    font-family: $sagovau-font-family-base;
    font-size: $sagovau-font-size-base;
    font-weight: 200;

    .thumb {
        margin-right: 20px;
    }

    .name {
        color: $sagovau-color-brand;
        font-family: $sagovau-font-family-highlight;
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 10px;
        display: block;
        padding-top: 20px;
        text-decoration: none;

        &:focus,
        &:hover {
            color: darken($sagovau-color-brand, 5%);
        }
    }

    .address {
        display: block;
    }
}
