/*------------------------------------*\
    #BOOKEASY DETAILS GADGET
\*------------------------------------*/

// scss-lint:disable all


#bookeasy__details-gadget {
    font-family: $sagovau-font-family-base;
    font-size: $sagovau-font-size-base;

    a {
        border-bottom: 0;
        font-weight: normal;

        &:focus {
            outline: 0;
        }
    }
}

.details-gadget {
    color: $sagovau-color-text-base;
    font-family: $sagovau-font-family-base;
    font-size: $sagovau-font-size-base;
    font-weight: 200;

    .name {

        > a {
            color: $sagovau-color-brand;
            font-family: $sagovau-font-family-highlight;
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 6px;
            padding-top: 10px;
            width: 100%;

            &.OperatorInfoMore,
            &.OperatorInfoLess {
                display: none;
            }
        }

    }

    .product__row--specials {
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.manyCols .details-gadget { //only when many Columns are displayed
    .name {
        > a {
            display: block;  //inline-block

            &.OperatorInfoMore,
            &.OperatorInfoLess {
                display: none;
            }
        }
    }
}

.im-grid-roominfo__roomname {
    color: $sagovau-color-brand;
    font-family: $sagovau-font-family-highlight;
    font-size: 22px;
}

.im-grid__details {
    vertical-align: top;
}

.im-grid-roominfo {
    padding: 20px 10px 5px;
}

.im-grid-roominfo__roomname {
    font-weight: normal;
    margin: 0;

    a {
        font-weight: normal;
    }
}

.im-grid-operatorinfo {
    padding: 0 40px 10px 10px;
    line-height: 1.4;

    p {
        margin: 0;
    }
}

.im-grid tbody tr td.sold span {
        transform: rotate(-16deg);

        &.price__date {
            transform: rotate(0);
        }
}

.details-gadget {
    .im-grid .OperatorItem {
        padding-right: 0;
    }
    .im-grid .OperatorInfo {
        padding-left: 0;
        width: calc( 100% - 0px );
    }
}

.im-grid .OperatorItemHeading {
    float: left;
    padding-right: 10px;
}

.details-gadget {
    thead a.day,
    thead a.month {
        color: #ffffff;
    }
    td,
    th {
        border: 0px;
    }
}

.location-name {
    font-weight: 800;
    color: #222;
    margin-bottom: 16px;
}



@media (max-width: 768px) {
    .details-gadget {

        tr>td {
            padding: 10px;
            display: block;
        }

        tbody td.price {

            span.price__date {
                // width: 40%;
                text-align: right;
            }

            span:not(.price__date) {
                text-align: center;
            }

            > span span:last-of-type:not(.year) {
                margin-right: 20%;
                width: 15%;
            }

        }

        .tour-date > span:not(.price__date) {
            display: block;
            width: 100% !important;
            margin: 0;
        }

    }


    tbody td {
        &.price {
            border: 0;
        }
        &.price span {
            text-align: right;
            width: 70px;
        }
        &.price > span {
            display: inline-block;
            padding: 6px;
        }
        &.price span.price__date {
            width: 94px;
            text-align: right;
            margin: 0;
        }
        &.tour-date {
            span {
                display: inline;
            }
        }
    }


    .im-pricebutton {
        max-width: 200px;
    }


    .im-grid {
        .thumb {
            width: 100%;
            padding: 10px 0 0;
        }

        .specials {
            float: none;
            position: static;
            top: 0;
            transform: translateY(0);
            margin-left: auto;
            margin-right: auto;
            width: 110px;
        }

        tbody tr {
            border-bottom: 0px;
        }

        tbody>tr {
            border-bottom: 1px solid #eee;
        }

        table.product {
            margin-bottom: 16px;
        }
    }

    .product .product__row {
        border: 0;
    }

    .product__row td.price {
        border-right: 1px solid #eee;
    }

    .property {
        a.map-link {
            padding-top: 2px;
            padding-bottom: 10px;
        }
    }
}

@media (min-width: 768px) {  // when not mobile

    .details-gadget .name > a {
        width: calc( 100% - 240px );
        padding-bottom: 10px;
        display: inline-block;
    }

    .manyCols {
        .im-grid tbody tr td.name {
            padding-top: 0;
        }
        .details-gadget .name > a {
            width: calc( 100% - 0px );
            padding-bottom: 0;
            display: block;
        }
    }

}

@media (min-width: 768px) and (max-width: 1230px) {

    .details-gadget {
        div.thumb {
            width: 210px;
            max-width: 210px;
            padding: 0;
            margin: 10px 20px 0 0;
        }
        .specials {
            width: 140px;
            margin: 10px 0 0 20px;

            .special {
                margin: 0 auto;
            }
        }
    }

    .manyCols .details-gadget {
        div.thumb {  //when manyColumns are displayed
            max-width: 150px;
            margin-right: 10px;
        }
        .im-grid .OperatorInfo {
            width: calc( 100% - 0px );
            display: block;
            margin-top: 12px;
        }
    }

    .im-grid .specials {
        top: calc( 50% - 80px );
    }

}


@media (min-width: 1231px) {

    .details-gadget {

        div.thumb {
            margin-right: 20px;
            padding: 2px 0px 8px 0;
            width: 210px;
            max-width: 210px;
        }

        .im-grid .OperatorInfo {
            width: calc( 100% - 240px );
            display: inline-block;
        }

    }


    .manyCols .details-gadget {

        div.thumb {  //when manyColumns are displayed
            max-width: 150px;
            margin-right: 10px;
        }

        .im-grid .OperatorInfo {
            width: calc( 100% - 0px );
            display: block;
        }

    }

}
