/*------------------------------------*\
    #BOOKEASY LOCATION-SELECTOR
\*------------------------------------*/

.location-selector {
    background-color: #fff;
    display: inline-block;
    position: relative;
    min-width: 35%;
    margin-bottom: 20px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjEiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMSAzMiI+PHBhdGggZmlsbD0iI2RkZCIgZD0iTTE5LjE5NiAxMy4xNDNxMCAwLjIzMi0wLjE3OSAwLjQxMWwtOC4zMjEgOC4zMjFxLTAuMTc5IDAuMTc5LTAuNDExIDAuMTc5dC0wLjQxMS0wLjE3OWwtOC4zMjEtOC4zMjFxLTAuMTc5LTAuMTc5LTAuMTc5LTAuNDExdDAuMTc5LTAuNDExbDAuODkzLTAuODkzcTAuMTc5LTAuMTc5IDAuNDExLTAuMTc5dDAuNDExIDAuMTc5bDcuMDE4IDcuMDE4IDcuMDE4LTcuMDE4cTAuMTc5LTAuMTc5IDAuNDExLTAuMTc5dDAuNDExIDAuMTc5bDAuODkzIDAuODkzcTAuMTc5IDAuMTc5IDAuMTc5IDAuNDExeiI+PC9wYXRoPjwvc3ZnPg==) 98% 3px no-repeat;
}


.location-selector__select {
    padding: 8px;
    font-size: 14px;
    height: 40px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    appearance: none;
    background: none;
}


.location-selector__button {
    padding: 12px 9px;
    background-color: #08713e;
    border: 0;
    border-radius: 6px;
    font-weight: bold;

    &:hover {
        background-color: #01522b;
    }

    &:active {
        background-color: darken(#01522b, 5%);
    }
}


.button-list {
    padding-bottom: 12px;
}

.button-list__button {
    display: inline-block;
    padding: 12px 9px;
    font-size: 14px;
    font-family: 'dewnrger', helvetica, verdana, arial, sans-serif;
    color: #fff;
    background-color: #08713e;
    border: 0;
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 88px;
    height: 16px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #01522b;
        text-decoration: unset;
    }
}

.location-selector+.button-list__button {
    margin-left: 4px;
}



#bookeasy__region-gadget {
    margin-top: 8px;
}
