/*------------------------------------*\
    #BOOKEASY LOCATION SELECTOR
\*------------------------------------*/

.location-selector {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    @media (min-width: 768px) {
        max-width: 35%;
    }
}

.location-selector__input {
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid tint( $sagovau-color-brand, 60% );
    position: relative;
    border-radius: .5em;
    width: 100%;
    &.filled {
        margin-right: -1px;
        border-radius: .5em 0 0 .5em;
    }
    &:focus {
        outline: 0;
        background: tint( $sagovau-color-brand, 90% );
        border-color: $sagovau-color-brand;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: background-color $sagovau-transition-time ease, border-color $sagovau-transition-time ease, border-radius $sagovau-transition-time ease;
    }
    &:hover {
        cursor: text;
    }
}

.location-selector__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        border: 1px solid #ddd;
        margin-top: -1px;
        padding: 3px;
        text-decoration: none;
        font-size: 16;
        display: none;
    }
}

.location-selector__clear {
    border: 0;
    font-size: 16px;
    cursor: pointer;
    background: $sagovau-color-brand;
    color: #fff;
    height: 100%;
    padding: 12px;
    display: none;
    outline: 0;
    border-radius: 0 0.5em 0.5em 0;
    z-index: 100;

    &:focus,
    &:hover {
        background-color: darken($sagovau-color-brand, 5%);
    }
}

.location-selector .autocomplete-suggestions {
    background: #fff;
    overflow: scroll;
    border-radius: 0 0 5px 5px;
    flex: 0 0 100%;
    top: 100%;
    left: 0;


    .autocomplete-suggestion {
        padding: 9px 13px;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            background-color: tint( $sagovau-color-brand, 90% );
            border-bottom-right-radius: 5px;
        }
    }
}

.location-selector__clear {

}
