/*------------------------------------*\
    #BOOKEASY SEARCH GADGET
\*------------------------------------*/

// scss-lint:disable all

.search-gadget {
    background: $sagovau-color-brand;
    border: 0;
    color: $sagovau-color-text-base;
    font-family: $sagovau-font-family-base;
    font-size: $sagovau-font-size-base;
    font-weight: 200;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;

    div.product,
    div.date,
    div.period,
    div.adults,
    div.children,
    div.infants {
        display: inline-block;
        margin-right: 10px;
        width: 80px;
    }

    div.concessions,
    div.students,
    div.observers,
    div.maxPrice,
    div.facilities,
    div.accommTypes {
        display: none;
    }

    select,
    .pseudo,
    .input input {
        font-family: $sagovau-font-family-base;
        font-size: $sagovau-font-size-base;
        padding: .5em;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 3px;
        color: $sagovau-color-text-base;
        width: 100%;
        appearance: none;
        outline: 0;
        line-height: 1;
        font-weight: 200;
        box-sizing: border-box;

        &:focus {
            border-color: #fff;
        }
    }

    div.date {
        width: 160px;

        .input {
            display: block;
        }

        .pseudo {
            display: block;
            width: auto;
        }
    }

    .label {
        font-family: $sagovau-font-family-highlight;
        display: block;
        color: #fff;
        overflow: hidden;
        font-size: 14px;
        font-weight: normal;
    }

    div.button   {
        display: none;
    }

    .refineTools {
        > div,
        .byWhich {
            margin: 0 0 10px;
        }

        .byWhich,
        .byOrder {
            width: 100px;
            display: inline-block;
            margin-right: 10px;
        }
    }

}


.wdDatePicker-Outer {
    display: block;
    border: 1px solid #08713e;
    background: #f3f3f3;
}


.wdDatePicker_calendar {
    font-family: $sagovau-font-family-base;
    background: #fff;
    color: $sagovau-color-text-base;

    th,
    td {
        width: 34px;
        text-align: center;

        &:first-child { border-left: 0; }
    }

    th {
        line-height: 20px;
        text-transform: uppercase;
        background: #f3f3f3;
        border-left: 1px solid #f3f3f3;
        font-size: 12px;
        border-top: 1px solid #c2c2c2;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td {
        font-size: 11px;
        font-weight: bold;
        border-top: 1px solid #c2c2c2;
        border-left: 1px solid #c2c2c2;

        b,
        i {
            display: block;
            width: 34px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            padding-top: 2px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &.disabled {
            background: #f3f3f3;
        }

        &.unavailable {
            background: transparent url('../images/search-sprites.png') no-repeat -175px -94px;

            b,
            i {
                opacity: 0.4;
                cursor: default;
                text-decoration: none;
            }
        }

        &.selected {
            background: transparent url('../images/search-sprites.png') no-repeat -171px -141px;
        }
    }
}


#wdDatePicker-chronNav {
    a {
        position: absolute;
        top: 12px;
        width: 22px;
        height: 22px;
        background: transparent url('../images/search-sprites.png') no-repeat left top;
        cursor: pointer;


        &#wdDatePicker-previous {
            left: 5px;
            background-position: left -180px;
        }


        &#wdDatePicker-next {
            right: 5px;
            background-position: -45px -180px;
        }

    }

    span {
        display: none;
    }
}
