/*------------------------------------*\
    #GENERAL SETTINGS
\*------------------------------------*/


/* = Namespace = */

/**
 * A prefix that can be used to prevent class name collisions. Use "null" to
 * ignore.
 **/

$sagovau-namespace: null;





/* = Colours = */

/**
 * All colours for in settings files; only tints/shades or combinations of these
 * colours may be used elsewhere.
 **/

/* == Tint and shade percentage == */

/**
 * Set the default tint/shade percentage for creating lighter/darker version
 * of a colour.
 **/

 @function tint($color, $percent) {
     @return mix(white, $color, $percent);
 }
 @function shade($color, $percent) {
     @return mix(black, $color, $percent);
 }


$sagovau-tint-base: 90%;
$sagovau-shade-base: $sagovau-tint-base;


/* == High-level colours == */

$sagovau-color-brand: #184736; // 08713e

$sagovau-color-brand-secondary: null;
$sagovau-color-book: #dca502;
$sagovau-color-sold-out: #5a5a5a;
$sagovau-color-sold-out-light: tint($sagovau-color-sold-out, 23%);
$sagovau-color-special: #dd2200;
$sagovau-color-border: #eee;
$sagovau-color-label: #37c;
$sagovau-color-label-grey: #eaf1fa;
$sagovau-color-black: #2e2925;
$sagovau-color-black--60: tint($sagovau-color-black, 56%); // ~ #aaa
$sagovau-color-black--10: tint($sagovau-color-black, 12%); // ~ #444

$sagovau-color-text-base: #333;
$sagovau-color-text-base-light: tint($sagovau-color-black, 41%); // ~ #888
$sagovau-color-text-base-extralight: tint($sagovau-color-black, 76%); // ~ #ccc
$sagovau-color-text-reverse: #fff;
$sagovau-color-background-base: #fff;
$sagovau-color-background-odd: #f9f9f9;




/* == Utility colours == */

$sagovau-color-success: shade(#008000, 20%);

$sagovau-color-warning: shade(#ffa500, 20%);

$sagovau-color-danger: shade(#f00, 20%);





/* = Fonts =*/

$sagovau-font-family-base: 'Frutiger W01', Helvetica, Arial, sans-serif;
$sagovau-font-family-highlight: 'Frutiger W01', Helvetica, Arial, sans-serif;


$sagovau-font-size-base: 16px;
$sagovau-line-height-base: 24px;





/* = Layout = */

$sagovau-spacing-unit-base: $sagovau-line-height-base;





/* = Animation = */

$sagovau-transition-time: 0.3s;
