{% set bookeasy_key = 'd5192d41822d0c987a0610af120d29bf' %}

<!DOCTYPE html>

<html class="npsa">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title></title>

        <!-- Scripts -->

        <script src="//fast.fonts.net/jsapi/e0cc203f-7221-4daf-a2d5-815483dba107.js" async></script>


        <!-- Stylesheets -->

        <link href="/css/bookeasy.css" rel="stylesheet">

        <noscript>

            <link href="//fast.fonts.net/cssapi/e0cc203f-7221-4daf-a2d5-815483dba107.css" rel="stylesheet">

        </noscript>

        <!-- End Stylesheets -->

        <style>
            body {
                background: #666;
                margin: 0;
                /*padding: 40px;*/
            }

            #content {
                max-width: 1186px;
                margin: 0 auto;
                padding: 20px;
                background: #fff;
            }
        </style>

    </head>

    <body>

        <div id="content" class="content__fullwidth">
            {% block content %}
            {% endblock %}
        </div>


        {% block global_javascript %}

            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

            <script>
                BEcssOverride = 'none';
            </script>
        {% endblock %}


        {% block details_javascript %}{% endblock %}


        {% block local_javascript %}{% endblock %}

    </body>

</html>
